#tile-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; /* keeps your site clickable */
}

.wh-main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.wh-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;

  & svg {
    width: 200px;
    height: 100%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
}
